*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 200;
}

main{
    width: min(720px, 90%);
    margin: 33px auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1{
    font-weight: 400;
    margin: 30px 0;
}

#input{
    width: min(100%, 420px);
    padding: 10px ;
    font-size: 1.2rem;
    border-radius: 6px;
    font-weight: 400;
}

.tag-container{
    width: min(100%, 420px) ;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.tag-container .tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(auto, 120px);
    padding: 6px;
    border: thin solid rgb(202, 213, 226);
    margin: 5px;
    border-radius: 6px;
    transition: all .12s ease-in-out;
    cursor: pointer;

}

.tag .close{
    padding: 3px;
    margin-left: 5px;
    border-radius: 3px;
    transition: all .12s ease-in-out;
    
}

.tag:hover .close{
    background-color: #153d66;
    color: #fff;
}
